.header__nav {
  padding: 50px 0 110px;
  @include flex-between;
  align-items: center;
}

.nav__burger {
  width: 25px;
  height: 25px;
  display: none;
}

.menu {
  display: flex;

  &__item {
    margin: 0 20px;
  }

  &__link {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: $sm_text;
    line-height: 19px;
    color: $secondary_font_color;
  }
}

.nav__sign-in {
  margin-right: 30px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $sm_text;
  line-height: 19px;
  color: $primary_font_color;
}

.nav__sign-up {
  padding: 13px 45px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $secondary_color;
  border: 1px solid $secondary_color;
  box-sizing: border-box;
  border-radius: 50px;
}

.hero {
  @include flex-between;
  margin-bottom: 70px;

  &__desc {
    max-width: 550px;
  }

  &__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: $primary_font_color;
  }

  &__title-bold {
    font-weight: bold;
  }

  &__link {
    @include button;
  }
}

.repeating__subtitle {
  margin: 20px 0 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: $sm_text;
  line-height: 30px;
  color: $secondary_font_color;
}

.repeating__subtitle-bold {
  font-weight: bold;
}

.header__statistics {
  display: flex;
  padding: 30px 0;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 120px;
}
.header__statistics > div:not(:last-child) {
  border-right: 2px solid $border_color;
}
.statistics__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  flex-grow: 1;
}
.details__desc {
  flex-direction: column;
  margin-left: 40px;
}
.details__numbers {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $primary_font_color;
}
.details__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $primary_font_color;
}
