.tariffs {
  &__cards {
    @include flex-around;
  }
}
.cards__image {
  margin: 0 auto;
}

.tariffs .cards__item {
  padding: 80px 65px 50px;
  border: 2px solid $border_color;
  border-radius: 10px;
  @include flex-column;
}

.cards__caption {
  margin: 30px 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $md_text;
  line-height: 30px;
  text-align: center;
  color: $primary_font_color;
}

.list__item-image {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.cost__caption {
  margin-bottom: 20px;
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.cost__caption-gray {
  color: $secondary_font_color;
}

.cost__btn {
  padding: 13px 63px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: $sm_text;
  line-height: 19px;
  color: $secondary_color;
  background-color: $primary_color;
  border: 2px solid $secondary_color;
  box-sizing: border-box;
  border-radius: 50px;
}

.tariffs .cards__item-active {
  border: 2px solid $secondary_color;
  box-sizing: border-box;
}

.cost__btn-active {
  background: $secondary_color;
  color: #fff;
  box-shadow: 0 5px 15px 0 $secondary_color;
}

.item__cost {
  margin-top: auto;
}
