.section__title {
  margin: 130px auto 60px;
  max-width: 50%;
  text-align: center;
}
.title__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $lg_text;
  line-height: 50px;
  color: $primary_font_color;
}
.title__text {
  margin-top: 20px;

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: $sm_text;
  line-height: 30px;
  color: $secondary_font_color;
}

.author__name {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: $md_text;
  line-height: 30px;
  color: #0b132a;
}

.author__location {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: $xs_text;
  line-height: 30px;
  color: $secondary_font_color;
}

.rate__number {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: $sm_text;
  line-height: 30px;
  color: $primary_font_color;
}
